@using Core.Utils.Pagination
@using Model.Dtos.Blog_
@model PaginationResponse<BlogDto>
@{
	ViewData["Title"] = "Blog Listesi";

    int start = Math.Max(1, Model.Page - 2);
    int end = Math.Min(Model.PageCount, Model.Page + 2);
}

<div class="page-title">
	<nav class="breadcrumbs">
		<div class="container">
			<ol>
				<li><a href="/">Ana sayfa</a></li>
				<li class="current">Blog Listesi</li>
			</ol>
		</div>
	</nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="blog-posts" class="blog-posts section">
                <div class="container">
                    <div class="row gy-4">
      					@foreach (var blog in Model.Data)
                        {
                            <div class="col-lg-4 col-md-6 col-12">
                                <article class="d-flex flex-column">

                                    <div class="post-img">
                                        <img src="@blog.Image" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="title">
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-Id="@blog.Id">
                                            @blog.Title
                                        </a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-person"></i>
                                                @(blog.Author?.FullName ?? "Express Bil.")
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-clock"></i>
                                                <time>@(blog.CreateDate.ToShortDateString())</time>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="content">  
                                        <div class="read-more">
                                            <a asp-controller="Blog" asp-action="Detail" asp-route-Id="@blog.Id">
                                                Oku
                                                <i class="bi bi-arrow-right mx-2"></i>
                                            </a>
                                        </div>
                                    </div> 
                                </article>
                            </div>
                        }
                    </div>
                </div>
            </section>

            <!-- Sayfalama -->
            <section id="blog-pagination" class="blog-pagination section">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <ul class="pagination">
                            @for (int i = start; i <= end; i++)
                            {
                                if (i == Model.Page)
                                {
                                    <li><a class="active" href="#">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("List", new { page = i })">@i</a></li>
                                }
                            }

                            @if (end < Model.PageCount)
                            {
                                <li>...</li>
                                <li><a href="@Url.Action("List", new { page = Model.PageCount })">@Model.PageCount</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>